@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide chart.js watermark */
.chartjs-size-monitor {
    display: none !important;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
    transition: opacity 0.3s ease;
  }

  /* Style the dropdown */
select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23D1D5DB'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em;
    transition: all 0.2s ease;
  }

  /* Smooth transitions */
